#Clock {
	position: relative;
	width:300px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	color: #000000;
	background-color: #ffffff;
	border: 2px solid #0000bb;
	margin: 0 auto;
	text-decoration: none;
}

h1 {
	position: relative;
	width:300px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin: 0 auto;
}

div.sample {
	position: relative;
	width:300px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 0 auto;
}

div.desc {
	position: relative;
	width:300px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 0 auto;
}
